body {
  margin: 0px;
}
nav {
  margin-top: -15px;
  padding: 5px;
  text-align: center;
  font-family: Raleway;
}
#nav-1 {
  background: #2d2d39;
}
 
.link-1 {
  transition: 0.1s ease;
  background: #2d2d39;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  border-top: 4px solid #2d2d39;
  border-bottom: -15px solid #2d2d39;
  padding: 15px 0;
  margin: 0 0px;
}
.link-1:hover {
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 6px 0; 
}