{% extends 'main.html' %}

{% block content %}


<!-- Main Section -->
<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <h3>Ваш запрос отправлен!</h3>

            <p>Мы отправили вам инструкции по сбросу пароля!</p>
            <br>
                <p>Если вы не получили электронное письмо, убедитесь, что вы правильно ввели адрес своей электронной почты, и проверьте
                    вашу папку со спамом.</p>
        </div>
    </div>
</main>

{% endblock content %}